:root {
  --bgColor: #282c34;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* element-level selectors */
div {
  border: 2px solid whitesmoke;
}

/* class-level selector */
.home-style {
  text-decoration: none;
}

/* id-level selector */
#main {
  padding: 10px;
}

/* Selector chaining */
.App.main.home-style {
  /* styles here */
}

/*  drilling */
div .home-style #main {
}
